<p id="notice"><%= notice %></p>

<p>
  <strong>Middle name:</strong>
  <%= @enrollment_form.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @enrollment_form.last_name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @enrollment_form.branch %>
</p>

<p>
  <strong>Reg no:</strong>
  <%= @enrollment_form.reg_no %>
</p>

<p>
  <strong>Roll no:</strong>
  <%= @enrollment_form.roll_no %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @enrollment_form.semester %>
</p>

<p>
  <strong>Blood group:</strong>
  <%= @enrollment_form.blood_group %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @enrollment_form.nationality %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @enrollment_form.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @enrollment_form.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @enrollment_form.state %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @enrollment_form.pincode %>
</p>

<p>
  <strong>Parent name:</strong>
  <%= @enrollment_form.parent_name %>
</p>

<p>
  <strong>Parent phone:</strong>
  <%= @enrollment_form.parent_phone %>
</p>

<p>
  <strong>Parent email:</strong>
  <%= @enrollment_form.parent_email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @enrollment_form.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @enrollment_form.email_id %>
</p>

<p>
  <strong>Language:</strong>
  <%= @enrollment_form.language %>
</p>

<p>
  <strong>Highest education:</strong>
  <%= @enrollment_form.highest_education %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @enrollment_form.marks %>
</p>

<p>
  <strong>Year of study:</strong>
  <%= @enrollment_form.year_of_study %>
</p>

<p>
  <strong>Achievement ncc:</strong>
  <%= @enrollment_form.achievement_ncc %>
</p>

<p>
  <strong>Achievement sport:</strong>
  <%= @enrollment_form.achievement_sport %>
</p>

<p>
  <strong>Achievement art:</strong>
  <%= @enrollment_form.achievement_art %>
</p>

<p>
  <strong>Achievement other:</strong>
  <%= @enrollment_form.achievement_other %>
</p>

<p>
  <strong>Fill place:</strong>
  <%= @enrollment_form.fill_place %>
</p>

<p>
  <strong>Fill date:</strong>
  <%= @enrollment_form.fill_date %>
</p>

<%= link_to 'Edit', edit_enrollment_form_path(@enrollment_form) %> |
<%= link_to 'Back', enrollment_forms_path %>
