<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Trax | FAQ</title>
  <link href="images\favicon.ico" rel="icon">
  <%= stylesheet_link_tag "/lib/bootstrap/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "/css/all.min.css" %>
  <%= stylesheet_link_tag "/css/animate.min.css" %>
  <%= stylesheet_link_tag "/css/owl.carousel.min.css" %>
  <%= stylesheet_link_tag "/css/jquery.fancybox.min.css" %>
  <%= stylesheet_link_tag "/css/tooltipster.min.css" %>
  <%= stylesheet_link_tag "/css/cubeportfolio.min.css" %>
  <%= stylesheet_link_tag "/css/revolution/navigation.css" %>
  <%= stylesheet_link_tag "/css/revolution/settings.css" %>
  <%= stylesheet_link_tag "/css/style.css" %>
</head>
<body>
<style>
    .slide-text {
        color: rgb(0,0,0) !important;

    }
</style>
<!--PreLoader-->
<div class="loader">
  <div class="loader-inner">
    <div class="cssload-loader"></div>
  </div>
</div>
<!--PreLoader Ends-->
<!-- header -->
<header class="site-header" id="header">
  <%= render "navbar" %>
  <div id="close_side_menu" class="tooltip"></div>
  <!-- End side menu -->
</header>
<!-- header -->
<!--Page Header-->
<section id="main-banner-page" class="position-relative page-header faq-header parallax section-nav-smooth">
  <div class="overlay overlay-dark opacity-8 z-index-1"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="page-titles whitecolor text-center padding_top padding_bottom">
          <h2 class="font-xlight">Read These</h2>
          <h2 class="font-bold">Before Asking Anymore</h2>
          <h2 class="font-xlight">Question</h2>
          <h3 class="font-light pt-2">Might Be Your Problem Solving Answer Is Here</h3>
        </div>
      </div>
    </div>
    <div class="gradient-bg title-wrap">
      <div class="row">
        <div class="col-lg-12 col-md-12 whitecolor">
          <h3 class="float-left">FAQ's</h3>
          <ul class="breadcrumb top10 bottom10 float-right">
            <li class="breadcrumb-item hover-light"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item hover-light"><a href="faq.html"></a>Faq</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Page Header ends -->
<!-- Faq -->
<section id="ourfaq" class="bglight position-relative padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center animated wow fadeIn" data-wow-delay="300ms">
        <h2 class="heading bottom30 darkcolor font-light2">Frequently Asked <span class="font-normal">Questions</span>
          <span class="divider-center"></span>
        </h2>
        <div class="col-md-8 offset-md-2">
          <p class="heading_space">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores explicabo laudantium, omnis provident quam reiciendis voluptatum?</p>
        </div>
      </div>
      <h2 class="d-none">Tabs</h2>
      <div class="col-md-12 col-sm-12">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link darkcolor" data-toggle="collapse" href="#collapseOne">1. What is National Cadet Corps ?</a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <p class="bottom20">The National Cadet Corps (NCC) is a youth development movement. It has enormous potential for nation building. The NCC provides opportunities to the youth of the country for their all-round development with a sense of Duty, Commitment, Dedication, Discipline and Moral Values so that they become able leaders and useful citizens. The NCC provides exposure to the cadets in a wide range of activities., with a distinct emphasis on Social Services, Discipline and Adventure Training. The NCC is open to all regular students of schools and colleges on a voluntary basis. The students have no liability for active military service.</p>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapseTwo">2. When did National Cadet Corps Come into existence?</a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>The National Cadets Corps came into existence under the National Cadet Corps Act XXXI of 1948 (passed in April, 1948; came into existence on 16th July, 1948).</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapseThree">3. What is the nature of the NCC Programme, whether compulsory or voluntary? </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Voluntary.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapseFour">4. Is the NCC Programme part of the Educational activity or is it a part of military activity? </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Educational Activity.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapseFive">5. What is/are the Aim(s) of NCC? </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>To develop character, commandership, discipline , leadership, secular outlook , sprit of adventure and the ideals of selfless service amongst the youth of the country.</p>
                <p>To create a human resource of organized, trained and motivate youth to provide leadership in all walks of life and always available for the service of the nation .</p>
                <p>To provide a suitable environment to motivate the youth to take up a career in the Armed Forces.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapseSix">6. What is the Motto of NCC? </a>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>The motto of NCC is:“ UNITY AND DISCIPLINE”.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapseSeven">7. What is the NCC symbol/insignia? </a>
            </div>
            <div id="collapseSeven" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>It is the NCC Crest in gold in the middle, with the letters “NCC”; encircled by a wreath of seventeen lotus with a background in Red, Blue and Light blue.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapseEight">8. What does the colour Red depicts in the NCC Crest? </a>
            </div>
            <div id="collapseEight" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Red depicts the Army.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse9">9. What do the colours Dark Blue and Light blue in the NCC Crest depict? </a>
            </div>
            <div id="collapse9" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Deep Blue depicts the Navy and Light Blue depicts the Air Force.</p>
              </div>
            </div>
          </div><div class="card">
          <div class="card-header">
            <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse10">10. What do the Lotus flowers depicts in NCC Crest?</a>
          </div>
          <div id="collapse10" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p>The seventeen lotuses represent the 17 State Directorates.</p>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse11">11. When is the NCC Day observed? </a>
            </div>
            <div id="collapse11" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>The NCC Day is observed on the four Sunday of November. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse12">12. Which Ministry at the National level deals with NCC? </a>
            </div>
            <div id="collapse12" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>The Ministry of Defence.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse13">13. Which Ministry deals with NCC in all States? </a>
            </div>
            <div id="collapse13" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Education. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse14">14. What are the arrangements for Finances/Funds for NCC? </a>
            </div>
            <div id="collapse14" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>The funds are shared by the Central and State Govts.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse15">15. What is Directorate General NCC? </a>
            </div>
            <div id="collapse15" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>It is the national level HQ. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse16">16. What is the composition of Directorate General NCC? </a>
            </div>
            <div id="collapse16" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>It is headed by the Director General (DG), an Army Officer of the rank of Lieutnant General. The DG is assisted by two Additional Directors General (ADG), one a Major General from the Army and other a Rear Admiral from the Navy or an Air Vice Marshal from the Air Force. The Director General has a staff which is drawn from the three services – Army, Navy and Air Force. There are five Deputy Directors General (DD’sG) of the rank of Brigadier and equivalent, of which three are Brigadiers and one either a Commodore (Navy) or an Air Commodore (Air Force) and one a civilian officer. </p>
              </div>
            </div>
          </div><div class="card">
          <div class="card-header">
            <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse17">17. Where is the NCC Headquarter at the National level located? </a>
          </div>
          <div id="collapse17" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p>At New Delhi. </p>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse18">18. What is a NCC Directorate? </a>
            </div>
            <div id="collapse18" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>The NCC at the state level is divided into 17 Directorates, in which each state or group of states forms a Directorate. The smaller states and union territories are attached with Directorates of the bigger states. Each Directorate is under the command of an Officer equivalent to the rank of a Brigadier (being upgraded to the rank of Major General) or its equivalent from the other two Services. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse19">19. What is a NCC Group? </a>
            </div>
            <div id="collapse19" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>The Directorates are further sub-divided into Groups, which varies according to the size of the state, each under the command of an Officer equivalent to the rank of Colonel (being upgraded to the rank of Brigadier). In all, there are 95 Group HQ’s in the country. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse20">20. What is the composition of a NCC Group? </a>
            </div>
            <div id="collapse20" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>A Group consists of NCC Battalions, Air Force & Naval units. Other than the Group Commander, each Group HQ has an Administrative Officer and a Training Officer with ranks of either a Lieutenant Colonel or a Major. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse21">21. What is a NCC unit and what is its composition? </a>
            </div>
            <div id="collapse21" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>The Groups are further sub-divided into Battalions, each commanded by a Lt Col or its equivalent from the other two Services, and an Officer of the rank of Lieutenant Colonel or Major as the Administrative Officer. Each Battalion also has a number of Junior Commissioned Officer’s (JCO’s) and Non-Commissioned Officer’s (NCO’s) known as “Permanent Instructors ( PI) Staff”, senior-most JCO being of the rank of Subedar Major. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse22">22. What is the student in NCC known as? </a>
            </div>
            <div id="collapse22" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>A student enrolled into NCC is referred to as a “Cadet” [Section 6 of Act XXXI of 1948 refers. </p>
              </div>
            </div>
          </div><div class="card">
          <div class="card-header">
            <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse23">23. What in NCC is a Senior Division (SD)? </a>
          </div>
          <div id="collapse23" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p>That Division of NCC, to which male students from Colleges and Plus Two institutions (XI and XII classes) are enrolled, is referred as a Senior Division (SD). </p>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse24">24. What in NCC is a Senior Wing (SW)? </a>
            </div>
            <div id="collapse24" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>That Division of NCC, to which female students from Colleges and Plus Two institutions (XI and XII classes) are enrolled, is referred as a Senior Wing (SW). </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse25">25. What in NCC is a Junior Division (JD)? </a>
            </div>
            <div id="collapse25" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>That Division of NCC, to which male students from schools (of 13 Years or more of age) are enrolled, is referred as a Junior Division (JD). </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse26">26. What is a NCC Company? </a>
            </div>
            <div id="collapse26" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>The basic functional sub-unit in colleges and Plus Two institutions, having SW/SD Cadets is a Company. It is mandatory that the cadets of a particular company are from the same institution having the sub-unit. However, there is a provision for a system of giving Open Vacancy specifically to a NCC Sub-unit of some institutions, as a special case, where students from other institutions which are not holding NCC can also join. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse27">27. What is a NCC Troop? </a>
            </div>
            <div id="collapse27" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>The basic functional sub-unit in schools, having JW/JD Cadets, is a Troop. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse28">28. How many NCC units can be allotted to an institution? </a>
            </div>
            <div id="collapse28" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>There are no fixed numbers. </p>
              </div>
            </div>
          </div><div class="card">
          <div class="card-header">
            <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse29">29. What are the Teacher’s/Instructors (at the Schools) and Lecturers/ Professors/ Instructors (at the Colleges) with the NCC known as? </a>
          </div>
          <div id="collapse29" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p>They are referred to as: Associate NCC Officers (ANO’s). </p>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse30">30. Who is responsible for the conduct of NCC activities in an institution? </a>
            </div>
            <div id="collapse30" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>The ANO. He is in control of the cadets and is responsible to plan and organize training with the assistance of the Permanent Instructional (PI) staff, detailed by the NCC unit. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse31">31. NCC Officer (ANO) is the main key functionary of NCC in Colleges/ Schools. What role does the Head Master/Principal play in the implementation of this program?</a>
            </div>
            <div id="collapse31" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Since NCC is a part of the educational programme, the primary responsibility rests with the Principal/ Headmaster. Their close association with all the activities of the sub-unit in their institution will facilitate the former doing well. Periodic visit to parades, formal inspection of the sub unit once a month on a fixed day, visit to training camps in which his/her sub- unit is participating and so on will significantly contribute in achieving the Aims of the NCC programme. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse32">32. Do ANO’s get orientation training enabling them to undertake their NCC responsibilities? </a>
            </div>
            <div id="collapse32" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Yes. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse33">33. What is the age limit for a student to join NCC?</a>
            </div>
            <div id="collapse33" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>For JD/JW Cadets : 12 -18.5 Years. </p><br>
                <p>For SD/SW Cadets : Upto 26 years of age. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse34">34. Are there any Physical Criterion for a Student to join NCC? If so what are they? </a>
            </div>
            <div id="collapse34" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Yes. They are specified at Rule 5(d) and 6(d) of the NCC Rules. </p>
              </div>
            </div>
          </div><div class="card">
          <div class="card-header">
            <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse35">35. Are any fees to be paid for enrolment as an NCC Cadet? </a>
          </div>
          <div id="collapse35" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p>No fees are to be paid. A token amount of money as yearly Regimental subscription and Cadet Welfare Society contribution is required to be paid by every cadet. </p>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse36">36. What is the duration of the NCC Programme as an NCC Cadet? </a>
            </div>
            <div id="collapse36" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>For JD/JW Cadets: Two Years. </p><br>
                <p>For SD/SW Cadets: Three Years with one year extension. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse37">37. What is the uniform in NCC ? </a>
            </div>
            <div id="collapse37" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Army cadets wear khaki uniform. Naval cadets wear white uniform of Navy. Air Force cadets wear blue uniform similar to the Air Force. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse38">38. Is it compulsory to wear NCC uniform? </a>
            </div>
            <div id="collapse38" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Yes. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse39">39. As a JD/JW Cadet what NCC certificate will I earn? </a>
            </div>
            <div id="collapse39" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>‘A’ Certificate. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse40">40. As a SD/SW cadet what NCC certificate(s) will I earn? </a>
            </div>
            <div id="collapse40" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>‘B’and ‘C’ Certificates. </p>
              </div>
            </div>
          </div><div class="card">
          <div class="card-header">
            <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse41">41. Is it compulsory to attend NCC Camps? </a>
          </div>
          <div id="collapse41" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p>Yes. </p>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse42">42. What are the various types of Camps in NCC? </a>
            </div>
            <div id="collapse42" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>(a) Annual Training Camp (ATC)</p><br>

                <p>(b) Centrally Organised Camps (COC)</p><br>

                <p>         (i) Leadership Camps</p><br>

                <p>         (ii) Vayu Sainik Camp</p><br>

                <p>         (iii) Nau Sainik Camp</p><br>

                <p>         (iv) Rock Climbing Camps</p><br>

                <p>         (v) National Integration Camps (NIC)</p><br>

                <p>         (vi) Thal Sainik Camps(TSC). </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse43">43. What sort of activities are undertaken in NCC? </a>
            </div>
            <div id="collapse43" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Activities in NCC are categorized as under:-</p><br>

                <p>(a) Institutional Training</p><br>

                <p>(b) Camp Training</p><br>

                <p>(c) Attachment Training (Service Unit)</p><br>

                <p>(d) Air wing Training</p><br>

                <p>(e) Naval wing Training</p><br>

                <p>(f) Social Service and Community Development Activities.</p><br>

                <p>(g) Youth Exchange Program</p><br>

                <p>(h) Conduct of Republic Day Camp</p><br>

                <p>(i) Conduct of course at OTA Kamptee and OTA Gwalior for ANO’s.</p><br>

                <p>(j) Career Counselling and Personality Development.</p><br>

                <p>(k) Remount & Veterinary Unit Training.</p><br>

                <p>(l) Conduct of Certificate Examinations.</p><br>

                <p>(m) Conduct of Adventure Activities. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse44">44. Can I get any award for some extraordinary work/performance? </a>
            </div>
            <div id="collapse44" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Merit and extraordinary work/performance is duly recognized at every level (at the Sub-Unit/ Unit/ Group/ Directorate/ HQ DGNCC levels) and is adequately rewarded/awarded in the NCC. For details contact you’re OC/CO Unit. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse45">45. Can I get any chance for visiting other States in the country or abroad? How? </a>
            </div>
            <div id="collapse45" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Yes. If you are selected for Centrally Organised Camps/ Youth Exchange Programme. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse46">46. How will NCC be useful in developing my personality? </a>
            </div>
            <div id="collapse46" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Please see the Aims of NCC at FAQ 5. </p>
              </div>
            </div>
          </div><div class="card">
          <div class="card-header">
            <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse47">47. How can I participate in the Republic Day Parade at Rajpath in New Delhi? </a>
          </div>
          <div id="collapse47" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p>A cadet selected as a member of the Directorate contingent, for the Republic Day Camp at Delhi, can be selected for the Republic Day Parade at Rajpath in New Delhi. </p>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse48">48. Does NCC organize National Integration Camps? </a>
            </div>
            <div id="collapse48" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Yes. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse49">49. Does NCC celebrate International and National days, Weeks etc ? </a>
            </div>
            <div id="collapse49" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Yes. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse50">50. Am I supposed to participate in election campaigns, rallies as an NCC Cadet? </a>
            </div>
            <div id="collapse50" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>No. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse51">51. Am I supposed to administer injections during immunization programmes ? </a>
            </div>
            <div id="collapse51" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>No. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse52">52. Can I involve myself in ‘Tree Plantations’; How many saplings will I have to plant in a year and will I get any certificate? </a>
            </div>
            <div id="collapse52" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Yes. There are no fixed numbers. A certificate is awarded. </p>
              </div>
            </div>
          </div><div class="card">
          <div class="card-header">
            <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse53">53. Can I donate blood during Blood Donation camps? </a>
          </div>
          <div id="collapse53" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p>Yes. </p>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse54">54. Is it compulsory to donate blood for an NCC cadet? </a>
            </div>
            <div id="collapse54" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>No. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse55">55. Is it compulsory to donate organs for an NCC cadet? </a>
            </div>
            <div id="collapse55" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>No. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse56">56. Is Army, Air Force and Navy training given to an NCC cadet, and if so with what purpose? </a>
            </div>
            <div id="collapse56" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Yes. It exposes cadets to a regimented way of life which is essential for inculcating the values of discipline, dutifulness, punctuality, orderliness, smartness, respect for rightful authority, good and correct work ethos and self-confidence. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse57">57. If I join NCC is it compulsory for me to join the Armed Forces thereafter? </a>
            </div>
            <div id="collapse57" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>No. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse58">58. How many States/UT does NCC cover all over the country? </a>
            </div>
            <div id="collapse58" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>All the states and Union Territories. </p>
              </div>
            </div>
          </div><div class="card">
          <div class="card-header">
            <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse59">59. Is this scheme applicable to only Govt Schools & Colleges? </a>
          </div>
          <div id="collapse59" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p>No. However financial arrangements, with regard to expenditures varies depending on the type of the institution. </p>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse60">60. What sort of remuneration does an ANO get in NCC? </a>
            </div>
            <div id="collapse60" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Remunerations received are:-</p><br>

                <p>(a) Monthly Honorarium.</p><br>

                <p>(b) Outfit Allowance.</p><br>

                <p>(c) Outfit Maintenance Allowance.</p><br>

                <p>(d) Travel and Messing Expenses for Pre-commission and Refresher courses.</p><br>

                <p>(e) Rank Pay during Camps.</p><br>

                <p>(f) TA and DA for journey for move to/ move back from camps. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse61">61. Do NCC units have any connection with other voluntary organizations? </a>
            </div>
            <div id="collapse61" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Yes; in implementing Community Development and Social service activities. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse62">62. Are NCC cadets exposed to work in Natural disasters & calamities? </a>
            </div>
            <div id="collapse62" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Yes. With permission of parents of cadets. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse63">63. Can I ever get any chance to meet some eminent personalities/ celebrities while working in NCC?</a>
            </div>
            <div id="collapse63" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Yes. </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Faq ends -->
<!--Site Footer Here-->
<footer id="site-footer" class=" bgdark padding_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer_panel padding_bottom_half bottom20">
          <a href="index.html" class="footer_logo bottom25"><img src="images\logo-transparent.png" alt="trax"></a>
          <p class="whitecolor bottom25">Keep away from people who try to belittle your ambitions Small people always do that but the really great Friendly.</p>
          <div class="d-table w-100 address-item whitecolor bottom25">
            <span class="d-table-cell align-middle"><i class="fas fa-mobile-alt"></i></span>
            <p class="d-table-cell align-middle bottom0">
              +01 - 123 - 4567 <a class="d-block" href="mailto:web@support.com">web@support.com</a>
            </p>
          </div>
          <ul class="social-icons white wow fadeInUp" data-wow-delay="300ms">
            <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer_panel padding_bottom_half bottom20">
          <h3 class="whitecolor bottom25">Our Services</h3>
          <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="blog-1.html">Latest News</a></li>
            <li><a href="javascript:void(0)">Business Planning</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="javascript:void(0)">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer_panel padding_bottom_half bottom20">
          <h3 class="whitecolor bottom25">Latest News</h3>
          <ul class="latest_news whitecolor">
            <li> <a href="#.">Aenean tristique justo et... </a> <span class="date defaultcolor">15 March 2019</span> </li>
            <li> <a href="#.">Phasellus dapibus dictum augue... </a> <span class="date defaultcolor">15 March 2019</span> </li>
            <li> <a href="#.">Mauris blandit vitae. Praesent non... </a> <span class="date defaultcolor">15 March 2019</span> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer_panel padding_bottom_half bottom20">
          <h3 class="whitecolor bottom25">Business hours</h3>
          <p class="whitecolor bottom25">Our support available to help you 24 hours a day, seven days week</p>
          <ul class="hours_links whitecolor">
            <li><span>Monday-Saturday:</span> <span>8.00-18.00</span></li>
            <li><span>Friday:</span> <span>09:00-21:00</span></li>
            <li><span>Sunday:</span> <span>09:00-20:00</span></li>
            <li><span>Calendar Events:</span> <span>24-Hour Shift</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Footer ends-->
<!--copyright-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeIn animated" data-wow-delay="300ms">
        <p class="m-0 py-3">Copyright © <span id="year1"></span> <a href="javascript:void(0)" class="hover-default">Trax</a>. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag  :media => "all" %>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<%= javascript_include_tag "/js/jquery-3.4.1.min.js" %>
<!--Bootstrap Core-->
<%= javascript_include_tag "/js/propper.min.js" %>
<%= javascript_include_tag "/js/bootstrap.min.js" %>
<!--to view items on reach-->
<%= javascript_include_tag "/js/jquery.appear.js" %>
<!--Owl Slider-->
<%= javascript_include_tag "/js/owl.carousel.min.js" %>
<!--number counters-->
<%= javascript_include_tag "/js/jquery-countTo.js" %>
<!--Parallax Background-->
<%= javascript_include_tag "/js/parallaxie.js" %>
<!--Cubefolio Gallery-->
<%= javascript_include_tag "/js/jquery.cubeportfolio.min.js" %>
<!--Fancybox js-->
<%= javascript_include_tag "/js/jquery.fancybox.min.js" %>
<!--tooltip js-->
<%= javascript_include_tag "/js/tooltipster.min.js" %>
<!--wow js-->
<%= javascript_include_tag "/js/wow.js" %>
<!--Revolution SLider-->
<%= javascript_include_tag "/js/revolution/jquery.themepunch.tools.min.js" %>
<%= javascript_include_tag "/js/revolution/jquery.themepunch.revolution.min.js" %>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS -->
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.actions.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.carousel.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.kenburn.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.layeranimation.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.migration.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.navigation.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.parallax.min.js"%>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.slideanims.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.video.min.js" %>
<!--custom functions and script-->
<%= javascript_include_tag "/js/functions.js" %>
</body>
</html>