<!DOCTYPE html>
<html lang="en">
<head>
  <!--===============================================================>

  Theme Name: Trax
  Theme URI:
  Author: Themes Industry
  Author URI:
  Description: One Page , Multi Parallax Template
  Tags: one page, multi page, multipurpose, parallax, creative, html5

  <=================================================================-->
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>NCC NITK</title>
  <link href="images\favicon.ico" rel="icon">

  <%= stylesheet_link_tag "/lib/bootstrap/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "/css/all.min.css" %>
  <%= stylesheet_link_tag "/css/animate.min.css" %>
  <%= stylesheet_link_tag "/css/owl.carousel.min.css" %>
  <%= stylesheet_link_tag "/css/jquery.fancybox.min.css" %>
  <%= stylesheet_link_tag "/css/tooltipster.min.css" %>
  <%= stylesheet_link_tag "/css/cubeportfolio.min.css" %>
  <%= stylesheet_link_tag "/css/revolution/navigation.css" %>
  <%= stylesheet_link_tag "/css/revolution/settings.css" %>
  <%= stylesheet_link_tag "/css/style.css" %>

</head>
<body>
<style>
    .slide-text {
        color: rgb(0,0,0) !important;

    }
</style>

<!--PreLoader-->
<div class="loader">
  <div class="loader-inner">
    <div class="cssload-loader"></div>
  </div>
</div>
<!--PreLoader Ends-->
<!-- header -->
<!-- header -->
<!--Main Slider-->
<header class="site-header" id="header">
  <%= render "navbar" %>
  <div id="close_side_menu" class="tooltip"></div>
  <!-- End side menu -->
</header>


<section id="ourfaq" class="bglight position-relative padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center animated wow fadeIn" data-wow-delay="300ms">
        <h2 class="heading bottom30 darkcolor font-light2">ABOUT NCC SONG<span class="font-normal"></span>
          <span class="divider-center"></span>
        </h2>
        <div class="col-md-8 offset-md-2">
          <p class="heading_space">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores explicabo laudantium, omnis provident quam reiciendis voluptatum?</p>
        </div>
      </div>
      <h2 class="d-none">Tabs</h2>
      <div class="col-md-12 col-sm-12">
        <div id="accordion">
          <div class="card mb-3">

            <div class="card-header">

              <div class="gradient-bg title-wrap">
                <div class="row">
                  <div class="col-lg-12 col-md-12 p-3 ml-3">
                    <h3 class="float-left">
                      <a class="whitecolor" data-toggle="collapse" href="#collapseOne">NCC SONG</a>
                    </h3>
                  </div>
                </div>
              </div>

            </div>

            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="container">
                  <div class="row d-flex align-items-center">
                    <div class="text-center">
                      <div class="feature-item mt-3 wow fadeInCenter  " data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
                        <h4 class="text-highlight">Hum Sab Bharatiya Hain, Hum Sab Bharatiya Hain<br>
                          Apni Manzil Ek Hai,<br>
                          Ha, Ha, Ha, Ek Hai,<br>
                          Ho, Ho, Ho, Ek Hai.<br>
                          Hum Sab Bharatiya Hain.</h4><br>
                      </div>
                    </div>
                    <div class="text-center">
                      <div class="feature-item mt-3 wow fadeInCenter  " data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
                        <h4>Kashmir Ki Dharti Rani Hai,<br>
                          Sartaj Himalaya Hai,<br>
                          Saadiyon Se Humne Isko Apne Khoon Se Pala Hai<br>
                          Desh Ki Raksha Ki Khatir Hum Shamshir Utha Lenge,<br>
                          Hum Shamshir Utha Lenge.</h4><br>
                      </div>
                    </div>
                    <div class="text-center">
                      <div class="feature-item mt-3 wow fadeInCenter  " data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
                        <h4 class="text-highlight">Bikhre Bikhre Taare Hain Hum Lekin Jhilmil Ek Hai,<br>
                          Ha, Ha, Ha, Ek Hai<br>
                          Hum Sab Bharatiya Hai.<br>
                          Mandir Gurudwaare Bhi Hain Yahan<br>
                          Aur Masjid Bhi Hai Yahan<br>
                          Girija Ka Hai Ghariyaal Kahin<br>
                          Mullah ki Kahin Hai Ajaan</h4><br>
                      </div>
                    </div>
                    <div class="feature-item mt-3 wow fadeInCenter  " data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
                      <h4>Ek Hee Apna Ram Hain, Ek hi Allah Taala Hai,<br>
                        Ek Hee Allah Taala Hain, Raang Birange Deepak Hain Hum,<br>
                        lekin Jagmag Ek Hai, Ha Ha Ha Ek Hai, Ho Ho Ho Ek Hai.<br>
                        Hum Sab Bharatiya Hain, Hum Sab Bharatiya Hain.</h4>
                    </div>
                    <div style="position:relative; padding-bottom:45.25%; padding-top:20px; height:0; overflow:hidden;">
                      <iframe style="display: block; margin: auto;" width="560" height="315" src="https://www.youtube.com/embed/N4koEPJ0bjU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <!--Some Feature ends-->
                <!-- Mobile Apps -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">

          <div class="card-header">

            <div class="gradient-bg title-wrap">
              <div class="row">
                <div class="col-lg-12 col-md-12 p-3 ml-3">
                  <h3 class="float-left">
                    <a class="whitecolor" data-toggle="collapse" href="#collapseTwo">HISTORY OF NCC SONG</a>
                  </h3>
                </div>
              </div>
            </div>

          </div>

          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                <div class="row d-flex align-items-center">
                  <div class="text-sm-left text-left">
                    <h4 >The desirability of composing a NCC song was considered in the Circle Commanders (now called DDGs) Conference held in January 1956 and all circles were asked to send their proposals. The official song of the NCC – “Kadam Mila Ke Chal” was adopted in 1963, and registered in 1969 with the approval of the Ministry of Defence. In 1974, it was felt that the NCC song had failed to catch the imagination of the youth, and there was a need for a change. A sustained process began; entries were invited from Directorates for suitable lyrics; 107 entries were received; of which eight were selected by a Board of Officers. However, all the eight were considered sub standard by Dr Nagendra of Delhi University, who was the judge. On the suggestion of Dr Nagendra, the task was entrusted to Shri Chiranjit, the Chief Producer, Drama Division, AIR, Delhi.</h4><br>
                    <h4>The song written by Shri Chiranjit was approved, in 1976. The Maharashtra Directorate was asked to get the song composed and recorded with the help of Shri Raj Kapoor, and the Films Division, Bombay. However, nothing much came out of this exercise as Shri Raj Kapoor was then busy in making his film “Satyam Shivam Sundaram” and the studios of the Films Division were under renovation. Later, Shri Mahinder Singh Bedi, a well known poet of Delhi, was requested to write another song. This effort also proved infructuous. AEC Centre Pachmarhi was also approached, but somehow the matter could not be finalized.</h4><br>
                    <h4>Almost during the same period and independent of efforts at Directorate General NCC, the Film Division undertook production of a documentary on NCC ‘A Cadet’ s Diary’. The Director of the documentary was looking for a suitable song for the film. He happened to hear the song – ‘Ham Sab Hindi Hain’ which appears to have been first sung at a Youth Festival at Chandigarh, sometime during 1968-69, and introduced it in the documentary film.</h4><br>
                    <h4>The song was a hit and successive Director Generals (DGs) found it good and played it repeatedly in Republic Day camps. In 1980, the word ‘Hindi’ was substituted with ‘Bhartiya’.</h4><br>
                    <h4>Come ASIAD (1982), and the NCC got the opportunity to display its potential in the opening ceremony. The Special Organising Committee approved trial recording of the song for recital during the Asian Games Festival. The song was finally recorded in its present form, sometime during Oct 1982, at the Western Outdoor Studio, Delhi with the help of AIR artists, and musicians under overall supervision of Pandit Vijai Raghavan Rao.</h4><br>
                    <h4>Post ASIAD era in the NCC saw among other events, a well composed musical hit and an inspiring NCC song being played and sung alongwith recorded music; a 16 mm colour film had also been made with title ‘Hum Sab Bhartiya Hain’ of 7½ minutes duration. This film had been telecast twice on national hook up. Other films, ‘Unity and Discipline’; ‘A Cadet’ s Diary, had also used this song prominently. The writer of this song seems to have been lost in oblivion. “No body knows” – said Shri SK Sharma, Joint Director, Armed Forces Film and Photo Division, who was actively involved with the production of documentaries on the NCC. “This song was not written for the NCC, as such, writes Shri Mathur, ex-publicity officer, DGNCC, in his notings on the file. But nobody has claimed it so far. Another noting speaks of Sri Virender Sharma as the lyrics writer, and Sri Vijai Raghavan Rao as the music composer.</h4><br>
                    <h4>This NCC song is liked by millions of cadets, both past and present, and is sung on all important occasions of the NCC.
                    </h4>
                  </div>
                </div>
              </div>
              <!--Some Feature ends-->
              <!-- Mobile Apps -->

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<!--Site Footer Here-->
<footer id="site-footer" class=" bgdark padding_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer_panel padding_bottom_half bottom20">
          <a href="index.html" class="footer_logo bottom25"><img src="images\logo-transparent.png" alt="MegaOne"></a>
          <p class="whitecolor bottom25">Keep away from people who try to belittle your ambitions Small people always do that but the really great Friendly.</p>
          <div class="d-table w-100 address-item whitecolor bottom25">
            <span class="d-table-cell align-middle"><i class="fas fa-mobile-alt"></i></span>
            <p class="d-table-cell align-middle bottom0">
              +01 - 123 - 4567 <a class="d-block" href="mailto:web@support.com">web@support.com</a>
            </p>
          </div>
          <ul class="social-icons white wow fadeInUp" data-wow-delay="300ms">
            <li><a href="javascript:void(0)" class="facebook"><i class="fab fa-facebook-f"></i> </a> </li>
            <li><a href="javascript:void(0)" class="twitter"><i class="fab fa-twitter"></i> </a> </li>
            <li><a href="javascript:void(0)" class="linkedin"><i class="fab fa-linkedin-in"></i> </a> </li>
            <li><a href="javascript:void(0)" class="insta"><i class="fab fa-instagram"></i> </a> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer_panel padding_bottom_half bottom20">
          <h3 class="whitecolor bottom25">Latest News</h3>
          <ul class="latest_news whitecolor">
            <li> <a href="#.">Aenean tristique justo et... </a> <span class="date defaultcolor">15 March 2019</span> </li>
            <li> <a href="#.">Phasellus dapibus dictum augue... </a> <span class="date defaultcolor">15 March 2019</span> </li>
            <li> <a href="#.">Mauris blandit vitae. Praesent non... </a> <span class="date defaultcolor">15 March 2019</span> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer_panel padding_bottom_half bottom20 pl-0 pl-lg-5">
          <h3 class="whitecolor bottom25">Our Services</h3>
          <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="blog-1.html">Latest News</a></li>
            <li><a href="pricing.html">Business Planning</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="faq.html">Faq's</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer_panel padding_bottom_half bottom20">
          <h3 class="whitecolor bottom25">Business hours</h3>
          <p class="whitecolor bottom25">Our support available to help you 24 hours a day, seven days week</p>
          <ul class="hours_links whitecolor">
            <li><span>Monday-Saturday:</span> <span>8.00-18.00</span></li>
            <li><span>Friday:</span> <span>09:00-21:00</span></li>
            <li><span>Sunday:</span> <span>09:00-20:00</span></li>
            <li><span>Calendar Events:</span> <span>24-Hour Shift</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Footer ends-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<%= javascript_include_tag "/js/jquery-3.4.1.min.js" %>
<!--Bootstrap Core-->
<%= javascript_include_tag "/js/propper.min.js" %>
<%= javascript_include_tag "/js/bootstrap.min.js" %>
<!--to view items on reach-->
<%= javascript_include_tag "/js/jquery.appear.js" %>
<!--Owl Slider-->
<%= javascript_include_tag "/js/owl.carousel.min.js" %>
<!--number counters-->
<%= javascript_include_tag "/js/jquery-countTo.js" %>
<!--Parallax Background-->
<%= javascript_include_tag "/js/parallaxie.js" %>
<!--Cubefolio Gallery-->
<%= javascript_include_tag "/js/jquery.cubeportfolio.min.js" %>
<!--Fancybox js-->
<%= javascript_include_tag "/js/jquery.fancybox.min.js" %>
<!--tooltip js-->
<%= javascript_include_tag "/js/tooltipster.min.js" %>
<!--wow js-->
<%= javascript_include_tag "/js/wow.js" %>
<!--Revolution SLider-->
<%= javascript_include_tag "/js/revolution/jquery.themepunch.tools.min.js" %>
<%= javascript_include_tag "/js/revolution/jquery.themepunch.revolution.min.js" %>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS -->
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.actions.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.carousel.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.kenburn.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.layeranimation.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.migration.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.navigation.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.parallax.min.js"%>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.slideanims.min.js" %>
<%= javascript_include_tag "/js/revolution/extensions/revolution.extension.video.min.js" %>
<!--custom functions and script-->
<%= javascript_include_tag "/js/functions.js" %>
</body>
</html>